{% extends "layouts/app.html.twig" %}

{% block title %}Items Create{% endblock %}

{% block content %}
    <form method="POST" action="{{ path('entity5_items_store') }}">
        <label for="category-id">Category</label><br>
        <select name="category_id" id="category-id">
            <option value="" selected disabled>Choose</option>

            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name|upper }}</option>
            {% endfor %}
        </select>

        <br>
        <label for="label">Label</label><br>
        <input type="text" name="label" id="label">

        <br>
        <label for="price">Price</label><br>
        <input type="number" name="price" id="price">

        <br>
        <label for="quantity">Quantity</label><br>
        <input type="number" name="quantity" id="quantity">

        <br>
        <label for="location">Location</label><br>
        <input type="text" name="location" id="location">
        
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
