{% extends "layouts/app.html.twig" %}

{% block title %}Pictures Index{% endblock %}

{% block content %}
    <a href="{{ url('welcome') }}">Picture !</a>
    <br>
    <img src="{{ asset('/assets/img/header.png') }}" alt="">
{% endblock %}
