html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 249, 245);
}

nav {
    margin: 1rem;
    padding: 5px 10px;
    border: 2px solid rgb(247, 181, 74);
}

main {
    margin: .9rem .5rem;
    padding: .5rem 5rem;
    border: 2px solid rgb(74, 169, 247);
}

footer {
    margin: 1rem;
    padding: 20px;
    border: 2px solid rgb(247, 74, 114);
}

nav ul, footer ul {
    list-style: none;
}
nav ul li, footer ul li {
    display: inline-block;
    margin: 0 .6rem;
}
nav ul li a, footer ul li a {
    text-decoration: none;
    padding: .6rem .8rem;
    border-radius: 3%;
    background-color: rgb(95, 130, 194);
    color: whitesmoke;
}

section {
    margin: 1rem 0;
}

a, a:focus, a:active {
    font-weight: bold;
    color: black;
}

.pretty-table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.pretty-table th {
    border: 2px solid #3f3e3e;
}

.pretty-table td {
    border: 1px solid #767676;
}

/*
 * Helpers
 */

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .6rem .8rem;
    margin: .1rem;
    border-radius: 5%;
    background-color: rgb(95, 95, 194);
    color: whitesmoke;
}
.btn-flat {
    padding: .2rem .3rem;
}
.btn-very-flat {
    padding: .1rem .2rem;
}
.bg-red {
    background-color: #cb5e5b !important;
}
.bg-orange {
    background-color: #f0bd2f !important;
}
