<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Pictures Index</title>

    <link rel="stylesheet" href="{{ asset('/assets/css/app.css') }}">
    <script src="{{ asset('/assets/js/app.js') }}"></script>
</head>
<body>
    <a href="{{ url('welcome') }}">Welcome !</a>
    <br>
    <img src="{{ asset('/assets/img/header.png') }}" alt="">
</body>
</html>